.navContainer {
  color: white;
}

h1 {
  font-size: 4rem;
  text-shadow: 1px 1px 1px black;
}

.navigation {
  padding: 0 10px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.nav {
  width: 300px;
  height: 400px;
  background-size: contain;
  border-radius: 10px;
  box-shadow: 1px 2px 3px gray;
  transition: 0.2s ease-in all;
}

.nav:hover {
  transform: scale(0.98);
  background-blend-mode: multiply;
  background-color: rgb(181, 138, 221);
}